@media only screen and (min-width:1050px) {
  .principles {
    column-fill: auto;
    columns: 3 20vw;
    column-gap: 3em;
    column-rule: #01272e solid .25em;
    margin: 3vh 0vw;
  }

main {
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

}