body {
    background-color: rgb(190, 213, 236);
}

.title {
    font-family: var(--heading-font, cursive);
    font-size: 2em;
    width: fit-content;
    line-height: 8vh;
    float: left;
}

#principles {
    background-color: aliceblue;
    max-width: 50%;
    margin: 100px auto;
    border-radius: 10px;
}

img {
    width: 30vw;
    height: auto;
    margin: 0px 0px;
}

header,
footer {
    background-color: #01272e;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.designTitle {
    grid-row: 2;
}

.designExplanation {
    grid-row: 3;
    line-height: 1.5em;
}

.photo {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    font-size: .75em;
}

#lastModified {
    text-align: center;
}

.BYUI {
    color: aliceblue;
}

footer a:hover {
    color: deeppink;
}

main {
    padding: 20px;
}