body {
    background-color: rgb(190, 213, 236);
}

.intro {
    font-size: 2em;
    width: fit-content;
    line-height: 8vh;
    float: left;
    font-family: 'Oswald', sans-serif;
}

#principles {
    background-color: aliceblue;
    max-width: 50%;
    margin: 100px auto;
    border-radius: 10px;
}

header,
footer {
    background-color: #01272e;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.designTitle {
    grid-row: 2;
}

.designExplanation {
    grid-row: 3;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.photo {
    text-align: center;
    padding: 1vh 0vw;
    color: black;
  }

.photo img {
    width: 250px;
    height: auto;
}
  

#lastModified {
    text-align: center;
}

.BYUI {
    color: aliceblue;
}

footer a:hover {
    color: deeppink;
}

main {
    padding: 20px;
}