body {
    background-color: rgb(190, 213, 236);
}

header {
    margin: 1em auto;
    max-width: 75em;
    height: auto;
    border-radius: 10px;
    color: aliceblue;
    background-color: #01272e;
    text-align: center;
    padding: 1em;
}

header h1 {
    font-size: 2em;
    line-height: 1px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 1rem;
    color: black;
    font-family: 'Oswald' , sans-serif;
    text-align: center;
}


main {
    background-color: aliceblue;
    color: black;
    max-width: 70em;
    display: grid;
    grid-template-columns: 1fr;
    padding: .1rem;
    margin: 1rem auto;
    font-size: 1em;
    font-family: 'Oswald' , sans-serif;
  }

section {
    margin: .5rem;
    padding: 1rem;
}  
 
footer {
    background-color: #01272e;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    max-width: 75em;
    margin: 1em auto;
}

.designExplanation {
    grid-row: 3;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}
  

#lastModified {
    text-align: center;
}

.BYUI {
    color: aliceblue;
}

footer a:hover {
    color: deeppink;
}
