@media only screen and (min-width: 60em) {
    main {
        max-width: 1000px;
        margin: auto;
    }

    #content{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figcaption{
        visibility: visible;
        text-align: center;
      
    }
    figure:hover{
        box-shadow:5px 5px 5px 5px rgb(59, 59, 59);

    }
    h2{
        font-size: 50px;
    }


}