@media only screen and (min-width: 47em) {

    #logo {
        width:12em;
    }

    nav ul.hide,
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul {
        margin-left: 2%;
    }

    button {
        display: none;
    }

    main {
        max-width: 750px;
        margin: auto;
        font-size: 20px;
    }

    #content{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}