@media only screen and (min-width: 47em) {

    #logo {
        width:12em;
    }

    nav ul.hide,
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul {
        margin-left: 2%;
    }

    button {
        display: none;
    }

    main {
        max-width: 750px;
        margin: auto;
        font-size: 20px;
    }

    #forecast {
        font-size: 1em;
    }
    #forecast img {
        width: 40px;
        margin: 10px -15px;
    }

    .contactinfo {
        margin-bottom: 2em;
    }

    .contactinfo img {
        display: block;
        height: 200px;
        float: left;
        margin-right: 3em;
    }

    .weatherupdate {
        font-size: 1em;
    }
    .article img {
        float: left;
        margin: 20px;
    }

    .article h3 {
        display: inline-block;
    }

    #content{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}