@media only screen and (min-width: 47em) {

    #logo {
        width:12em;
    }

    nav ul.hide,
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul {
        margin-left: 2%;
    }

    button {
        display: none;
    }

    main {
        max-width: 750px;
        margin: auto;
        font-size: 20px;
    }

    #forecast {
        font-size: 1em;
    }
    #forecast img {
        width: 40px;
        margin: 10px -15px;
    }

    .contactinfo {
        margin-bottom: 2em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .socialIcon {
       max-width: 50px;
    }

    .weatherupdate {
        font-size: 1em;
    }
    .article img {
        float: left;
        margin: 20px;
    }

    .map-responsive{
        display: block;
        max-width: 25%;
        float: left;
        margin-right: 3em;
    } 

   iframe {
       max-width: 100%;
   }

    .article h3 {
        display: inline-block;
    }

    .fiveday {
        display: block;
        margin: 0;
      }
    
      .fiveday table {
        text-align: center;
        border: 1px solid #011C26;
      }
      .fiveday [id^="icon"] { 
        width: 100px;}
    
      table th {
        background-color: #024059;
        color: #fff;
      }
    
      table img {
        width: 50%;
      }
    
      table,
      th {
        border: 1px solid #011C26;
        border-collapse: collapse;
      }
    
      table td {
        border-right: 1px solid #011C26;
        ;
      }

      table {
          margin-left: auto;
          margin-right: auto;
      }
}